.title{
  text-align: left;
  background-color: grey;
  padding: 2%;
  margin-top: -1%;
}
.heading{
  text-align: center;
}
.search{
  text-align:center;
}
.details h3{
  text-align: center;
}
.details p{
  text-align: center;
}
.details{
  border: 1px black solid;
  padding: 25px;
    margin: 20px;
    width: 280px;
}
